<div class="pt-10">
  <div class="mb-5">
    <a class="btn btn-primary text-white" [routerLink]="['/']"><fa-icon class="mr-2" [icon]="faFont.faArrowLeftToLine"></fa-icon>Retour</a>
  </div>
  <div class="politique">
    <div class="flex gap-3 items-center">
      <img src="assets/favicon.svg" alt="logo" class="h-16">
      <h1>Politique de confidentialité</h1>
    </div>

    <h3>1. Objectif</h3>
    <p>Cette application a pour but de proposer aux adhérents de la FFTir une version dématérialisée de leur licence en utilisant la plateforme EDEN. Le tout avec simplicité et ergonomie.</p>
    <p>Cette application n'est pas affiliée à la FFTir et a été développée par un développeur indépendant durant un week-end de canicule.</p>

    <h3>2. Prérequis</h3>
    <p>Pour fonctionner cette application nécessite un compte <a href="https://eden.fftir.org/" target="_blank">EDEN (Espsace démétérialisé d'enregistrement national)</a> et une licence de la <a href="https://www.fftir.org/" target="_blank">FFTir (Fédération Française de Tir)</a>.</p>

    <h3>3. Gestion des données</h3>
    <p>Pour fonctionner cette application récupère des données personnelles sur EDEN en utilisant les informations de connexion de l'utilisateur. Ces données sont ensuite stockées sur l'appareil de l'utilisateur jusqu'à être supprimées par ce dernier ou remplacé par des données plus récentes. Le mot de passe EDEN de l'utilisateur n'est pas enregistré.</p>
    <p>L'utilisateur peut à tout moment supprimer les données stockées dans l'application en appuyant sur le bouton "déconnexion" de cette dernière accessible dans le menu via le bouton circulaire orange en bas à droite.</p>
    <p>Toutes les informations personnelles que l'application collecte restent sur l'appareil de l'utilisateur. Nous ne les collectons à aucun moment.</p>
    <p>L'application peut collecter des informations en cas d'erreur dans le but d'améliorer la qualité de l'application. Il s'agit de données techniques sur votre appareil et du contexte de l'apparition de l'erreur. Ces données sont anonymes et ne contiennent aucune information récupérée sur EDEN.</p>

    <h3>4. hébergement</h3>
    <p>La version web de cette application est hébergée par <a href="https://pulseheberg.com/" target="_blank">SAS PulseHeberg</a></p>
    <p>RCS Toulon 824 070 619</p>
    <p>Siret : 824 070 619 00039</p>
    <p>NAF: 63.11Z</p>
    <p>VAT: FR29824070619</p>
    <p>Siège social : 9, Boulevard de Strasbourg 83000 Toulon - France</p>
    <p>Téléphone: +33 (0) 4 22 14 13 60</p>
    <p>Email: <a href="mailto:contact@pulseheberg.com">contact@pulseheberg.com</a></p>

    <h3>5. Développeur</h3>
    <p>Cette application a été développée par :</p>
    <p>Damien MARILL</p>
    <p>Site web : <a href="https://marill.dev" target="_blank">https://marill.dev</a></p>
    <p>Email: <a href="mailto:dev@marill.dev">dev@marill.dev</a></p>

    <h3>6. Licence</h3>
    <p>Le code source de cette application est disponible sur GitHub : <a href="https://github.com/DamienMarill/maLicenceDeTir" target="_blank">https://github.com/DamienMarill/maLicenceDeTir</a></p>
  </div>
</div>
