<div class="fixed bottom-0 h-full w-full layer" #layer [class.animate]="!inScroll" [class.active]="layerService.active">
  <div class="h-1/6 w-full" (click)="swipe($event)"></div>
  <div class="bg-dark-50 dark:bg-dark-900 p-7 rounded-t-3xl w-full h-5/6 content overflow-y-scroll" #container (panup)="scroll($event)" (pandown)="scroll($event)" (panstart)="startScroll($event)" (panend)="endScroll($event)">
    <ng-container *ngTemplateOutlet="layerService.getTemplate()"></ng-container>
    <div class="w-full h-16 my-5"></div>
  </div>
</div>
